.project-title {
  text-align: center;
}

.column-container {
  display: flex;
}

.column {
  margin-left: 20px;
  margin-right: 20px;
}

.cards {
  display: flex;
}

/* #50a3a2 */
/* #fdcb6e */
/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* body {
  background-color: rgba(255, 255, 255, 0.37);
} */

/* header */
.nav {
  width: 100%;
  height: 80px;
  background-color: #50a3a2;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: lighter;
  font-family: "Rancho", cursive;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.logout {
  font-weight: lighter;
  background-color: #fdcb6e;
  color: white;
  border: 1px solid #fdcb6e;
  width: 130px;
  font-size: 28px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  outline: none;
  right: 140px;
  top: 12px;
  box-shadow: 2px 2px 2px grey;
  transform: scale(1);
}
.user {
  width: 4%;
  border-radius: 50%;
  position: absolute;
  right: 45px;
  top: 12px;
}

/*----------------COLUMNS------------------*/

.col-container::-webkit-scrollbar {
  height: 2.4rem;
}

.col-container {
  display: flex;
  align-items: start;
  padding: 30px;
  overflow-x: auto;
  height: calc(100vh - 8.6rem);
  font-family: "Roboto", sans-serif;
}

.col {
  flex: 0 0 25rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  max-height: calc(100vh - 11.8rem);
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.col:last-of-type {
  margin-right: 0;
}

.list-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 1rem;
}

.list-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
}

/* .list-items::-webkit-scrollbar {
  width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-right: 0.6rem solid #e2e4e6;
} */

input,
.list-items li {
  font-size: 1.1rem;
  line-height: 1;
  background-color: #fff;
  padding: 0.65rem 0.6rem;
  color: #4d4d4d;
  border-bottom: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  cursor: pointer;
  list-style: none;
}
input {
  outline: none;
  border: 2px solid #50a3a2;
  width: 92%;
  margin-left: 20px;
}

.list-items li:last-of-type {
  margin-bottom: 0;
}

.list-items li:hover {
  background-color: #eee;
}

.btn {
  font-size: 1.1rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-right: 1rem;
  border: none;
  margin: 20px auto 30px 10px;
}

.add-card {
  width: 35%;
  background-color: #fdcb6e;
  color: black;
  text-align: left;
}
.add-list {
  width: 25%;
  background-color: #50a3a2;
  color: white;
  margin-left: 20px;
}

.xbtn {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  width: 8%;
  font-size: 24px;
  padding: 3px 0;
}

.add-card:hover {
  background-color: #cdd2d4;
  color: white;
}

.lists-container {
  display: grid;
  grid-auto-columns: 27rem;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
}

.list {
  display: grid;
  grid-template-rows: auto minmax(auto, 1fr) auto;
}

.list-items {
  display: grid;
  grid-row-gap: 0.6rem;
}
